<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForUTU.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ForUTU.My.MySettings>
            <setting name="empresaName" serializeAs="String">
                <value>{nombre de la empresa}</value>
            </setting>
            <setting name="userid" serializeAs="String">
                <value>alexuy</value>
            </setting>
            <setting name="dbpassword" serializeAs="String">
                <value>416C65785F31113A</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>TCodeERVShows</value>
            </setting>
            <setting name="firstSession" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="masterPassword" serializeAs="String">
                <value>56jf_9lpp</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="server" serializeAs="String">
                <value>thecodeeye.sytes.net</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
        </ForUTU.My.MySettings>
    </userSettings>
</configuration>